.fileInput {
  width: 50%;
  margin-right: 10px;
  max-width: 350px;
}

.input {
  width: 50%;
  margin-right: 10px;
  max-width: 350px;
}

.UUID {
  margin-left: 20px;
}

.link {
  margin-left: 20px;
}

.label {
  margin-left: 20px;
}

.extraMsg {
  padding-left: 20px;
}
