<div class="panel">
  <p class="panel-heading">Upload</p>
  <div class="panel-block">
    <input type="file" placeholder="Upload file" class="fileInput" (change)="onFilePicked($event)">
    <button (click)="onFileUpload()" class="button">Upload File</button>
    <span *ngIf="errorMsg">Please select file</span>
    <span *ngIf="getUUID" class="UUID">this is your UUID {{getUUID}}</span>
  </div>
</div>

<div class="panel">
  <p class="panel-heading">Download</p>
  <div class="panel-block">
    <input type="text" class="input" placeholder="UUID" (change)="onUuidPicked($event)">
    <button class="button" (click)="onFileGet()">Get File</button>
    <a *ngIf="getFileLink" href={{getFileLink}} class="link">click me</a>
    <span *ngIf="checkSum">{{checkSum}}</span>
  </div>
</div>